@import url(../home/main.css);


table {
  width: 100%;
  border-collapse: collapse;
  color: var(--table-color1);
}

tr:nth-child(even) {
  background-color: #000f0a;
}
tr:nth-child(odd) {
  background-color: #124929;
}
th {
  background-color: #189541;
}

caption,
th,
td {
  padding: 1rem;
}

caption,
th {
  text-align: left;
}

caption {
  background: hsl(0, 0%, 0%);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* scrollbar */
@media (max-width: 650px) {
  /* Add img here on right side of list */
  th {
    display: none;
  }

  td {
    display: grid;
    grid-template-columns: 15ch auto;
    padding: 0.75rem 1rem;
    gap: 0.5rem;
  }

  td:first-child {
    padding-top: 1.5rem;
  }

  td:last-child {
    padding-bottom: 1.5rem;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}

/* Printing Styling */
@media print {
  body {
    font-size: 6pt;
    color: #000;
    background-color: #fff;
    background-image: none;
    margin: 0;
    padding: 0;
  }
  table {
    page-break-inside: avoid;
  }
  th {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }
  tr {
    border-top: 1pt solid #000;
  }
}

@media print and (max-width: 5in) {
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
  }
  caption {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }
}
